*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(124, 131, 187);
    color: rgb(232, 232, 232);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color:rgb(4, 7, 36);
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
}

.user-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}
.user-input-container{
    display: flex;
    justify-content: space-between;
}
#user-input{
    width: 80%;
    padding: 0.4rem;
    border-radius: 7px;
}
#search-btn{
    padding: 0.3rem;
    border-radius: 7px;
}
.circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid rgb(180, 75, 75);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: rgb(239, 234, 234);
    font-weight: 700;
    background: conic-gradient(rgb(125, 188, 124) var(--progress-degree,0%),rgb(48, 123, 150) 0%);
    flex-direction: column;
}
.progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
    gap: 10px;
}

.stats-card{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-evenly;
}

.card{
    background-color: rgb(152, 75, 117);
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}